.CardProduct{
    width: 100%;
    height: 60px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 3px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.326) 0px 3px 8px;
}
.CardProduct__img{
    height: 100%;
    width: 25%;
    /* background-color: blueviolet; */
}
.CardProduct__text{
    height: 100%;
    width: 75%;
    padding: 4px;
    /* background-color: aqua; */
    text-align: center;
}

.CardProduct__text_portions{
    color: rgb(248, 140, 0);
}