/* .CardButton{
    width: 90%;
    height: 35px;
    background-color: rgb(207, 104, 0);
    border-radius: 20px;

} */


/* CSS */
.CardButton {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  min-height: 2.5rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  transition: all 250ms;
  width: auto;
}

.CardButton:hover,
.CardButton:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.CardButton:hover {
  transform: translateY(-1px);
}

.CardButton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}