.Card{
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* background-color: aquamarine; */
    height: 480px;
    border-color: rgb(238, 152, 39);
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Card__products{
    /* display: grid;
    grid-template-rows: repeat(auto-fill, 65px);
    gap: 8px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Card__button{
    text-align: center;
}