.breakfast{
    width: 95px;
    height: 95px;
}
.lunch{
    width: 95px;
    height: 95px;
}
.rown{
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    left: 50%;
}
ul {
    list-style-type: none;
}