<h1>MENU</h1>
<div class="rown">
  <div class="imgBreakfast" >
    <img src="./assets/img/breakfast.svg" alt="Desayunos" class="breakfast">
  </div>
  <div class="img-lunch">
    <img src="./assets/img/Hamburger.svg" alt="Almuerzos y cenas" class="lunch">
     </div>
</div>

<!-- Menú de desayunos -->

<div class="container" >
   <div class="row">
     <div class="col-md-12">
       <!-- <app-login-component></app-login-component> -->
     </div>
     <div class="col-md-8">
       <div >
        <label for="client"><mark>Nombre del cliente</mark></label>
        <input type="text" name="" id="client">
         <ul class="list-group">
           <li *ngFor="let breakfast of desayunos" (click)="onClick(breakfast)" [ngClass]="{'alert alert-info': breakfast === selection}">{{breakfast}}
            <div>
              <label for="cantidad">Cantidad</label>
              <input type="text" id="cantidad">
              </div>
  
           </li>
           </ul>
         <!-- <img src="{{coffee}}" alt="">
         <label> Café americano </label>
         <img  src="{{capuccinno}}" alt="">
         <label> Café con leche </label>
         <img src="{{sandwich}}" alt="">
         <label> Sandwich de jamón y queso </label>
         <img src="{{juice}}" alt="">
         <label> Jugos naturales </label>
         <img src="{{bolon}}" alt="">
         <label for="">Bolón mixto con huevo</label> -->
 
         <!-- Almuerzos y cenas -->
         <ul *ngFor=" let almuerzo of almuerzos">
           <li> {{almuerzo.principal}} </li>
           <li> {{almuerzo.acompanamiento}} </li>
           <li> {{almuerzo.bebidas}} </li>
         </ul>
       </div>
       <!-- Tabla de pedidos -->
       <div *ngIf="selection">
         <p> Tu pedido es: {{selection}} </p>
         <button (click)="onClear()">Nuevo pedido</button>
 
       </div>
 
     </div>
     <div class="col-md-4">
      <div class="http" *ngFor="let product of menu " > 
        <!-- //posible cambiar a tabla -->
        <ul class="list-group">
          <li class="list-group-item">
            {{product.name}} 
            {{product.cost}}
            <img src="{{product.image}}" alt="">
          <button type="button" class="btn btn-danger float-end">Delete</button> 
          </li>
        </ul>
        </div>
       <p>Total:</p>
       <button type="button" class="btn btn-success">Enviar a Cocina</button>
       <!-- <img src="./assets/img/Coffee.svg"> -->
       <!-- <app-order></app-order> -->
     </div>
   </div>
 </div>

<!-- 
<a href="https://storyset.com/work">Work illustrations by Storyset</a>  chefcito 
<a href="https://storyset.com/business">Business illustrations by Storyset</a> admin
-->