.Profile{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}
.ProfileWaiter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 219, 187, 0.3);
    width: 50%;
    height: 90%;
    padding: 10px;
    border-radius: 50px;
    gap: 15px;
}
.ProfileWaiter>img{
    height: 65%;
    
    /* background-color: rgba(250, 235, 215, 0.679); */
}
