
.OrderCardContainer{
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
}
.OrderTitle{
  font-size: 20px;
  font-weight: bold;
}
.State{
  width: 100px;
  height: 30px;
  background-color: green;
  font-weight: bold;
  color: white;
  padding-left: 2px;
}