.OrderCookContainer{
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
}
.OrderCookNav{
  display:flex;
  justify-content: space-between;
}
.OrderTableTitle{
  font-size: 22px;
  font-weight: bold;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
.OrderImgBack{
  width: 20px;
  height: 20px;
}
.OrderInfContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  
}
.OrderInf{
  margin-bottom: 10px;
}
.Order{
  font-size: 20px;
  width: 200px;
}
.OrderEntry{
  font-size: 18px;
}
