.OrderCookContainer{
  margin: 25px;
}
.OrderTableTitle{
  font-size: 20px;
  font-weight: bold;
}
.OrderInfContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-bottom: 20px;
}
.OrderInf{
  margin-bottom: 10px;
}
.label{
  font-size: 16px;
  width: 60px;
}
