.configuration{
    /* background-color: rgb(237, 162, 162); */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
    font-size: 16px;
}
.configuration>div{
    display: flex;
    gap: 10px;
    margin-left: 60px;
}
.btn-dark{
    color: inherit;
    text-decoration: none;
}