.CookCardContainer{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.Table{
  width: 360px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.CardTitle{
  background-color: #EDEBE4;
  font-size: 16px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  padding: 4px;
}
.RowItem{
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
  margin-bottom: 10px;
}
.RowQty{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}