<!-- Creando un form para loguearse --> 
<!-- hay que oculatr el div de verificacion -->
<head>
    
</head>
<body>
<div class="logochef">
    <img src="./assets/img/Chef.svg">
</div>

<div class="login">
    <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm = "ngForm"><br> 
        <p>ECUABURGUER</p>
        <label for="newItem"> Correo electrónico </label>
        <input type="text" id="newItem" class="form-control" name="email" #name="ngModel" ngModel required=""><br> 
        <div [hidden]="name.valid  || name.pristine" class="alert alert-danger">Correo inválido</div>    
        <label for="newItem2"> Contraseña</label>
        <input type="password" id="newItem2" class="form-control"name="password"  #newItem="ngModel" ngModel required>
        <div [hidden]="newItem.valid  || newItem.pristine" class="alert alert-danger">Contraseña inválida</div><br>  
        <input class="btn" type="submit" value="Ingresar"[disabled]="loginForm.invalid">
    </form>
</div> 
</body>