.IconCookContainer{
  display: flex;
}
.IconContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Icon{
  width: 30px;
  height: 30px;
}
.IconCookTitle{
  font-size: 14px;
}
.indicator{
  width:60px;
  height: 8px;
  background-color: #FFC107;
}