<!-- <h1>MENU</h1>
<div class="rown">
  <div class="imgBreakfast">
    <img src="./assets/img/breakfast.svg" alt="Desayunos" class="breakfast">
    <img src="./assets/img/Hamburger.svg" alt="Almuerzos y cenas" class="lunch">
  </div>
</div>
<-- Para ver los productos y tomar pedidos -->
 <!-- <a routerLink="products">Tomar pedido</a>
<router-outlet></router-outlet>  -->

<!-- Menú de desayunos -->
 
 <!-- <div class="container">
  <div class="row">
    <div class="col-md-12"> -->
      <!-- <app-login-component></app-login-component> 
    </div>
    <div class="col-md-4">
      <div class="http" *ngFor="let product of menu ">  -->
         <!-- <-- //posible cambiar a tabla --> -->
        <!-- {{product.client}}
        {{product.id}} <br>
        {{product.status}} <br>
        {{product.dataEntry}} <br>
        {{product.name}} <br>
        {{product.price}} <br>
        {{product.type}} <br>
        <div *ngFor=" let item of product.products">
          {{ item.product.name}} <br>
          {{ item.product.price}} <br>
          {{ item.product.type}} <br>
         <img src="{{ item.product.image}}"><br>
          <button type="button" class="btn btn-danger float-end">Delete</button>
        </div>  -->
      <!--   <ul class="list-group"> -->
          <!-- <li class="list-group-item">
          </li> -->
          <!-- <li class="list-group-item">
            {{ product.products[13].product.name}} <br>
            {{ product.products[13].product.price}} <br>
            {{ product.products[13].product.type}} <br>
            <img src="{{ product.products[13].product.image}}" alt=""> <br> 
          </li> -->

        <!-- </ul>
      </div> -->

      <!-- <img src="./assets/img/Coffee.svg"> -->
    <!-- </div>
  </div>
</div> -->

<!-- 
<a href="https://storyset.com/work">Work illustrations by Storyset</a>  chefcito 
<a href="https://storyset.com/business">Business illustrations by Storyset</a> admin
-->
