/* .breakfast{
    width: 95px;
    height: 95px;
    margin: 50px;
}
.lunch{
    margin-top: 10%;
    width: 95px;
    height: 95px;
    
}
.rown{
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    left: 40%;
}
ul {
    list-style-type: none;
} */

  
