<a routerLink="/waiter">Ver Ordenes</a>
<router-outlet></router-outlet><br><br>
<button class="nav-menu" data-value="breakfast">Desayunos</button>
<button class="nav-menu" data-value="lunch">Almuerzos y Acompañamientos</button>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div *ngFor=" let productList of menu ">
                <img src="{{productList.image}}" alt="producto"><br>
                {{productList.id}}<br>
                {{productList.name}}<br>
                {{productList.price}}<br>
                {{productList.type}}<br><br>
                <button class="addOrder">Agregar</button><br>
            </div>
        </div>
        <div class="col-md-4">

            <h1>Orden tomada</h1>
            <div>
                <label for="client"><mark>Nombre del cliente</mark></label>
                <input type="text" name="" id="client">
                <div class="col-md-12 col-12">
                    <button id='contador'(click)="sumar()">+</button>
                    <span>{{numero}}</span>
                    <button id='contador' (click)="restar()">-</button>
                </div>
                <p>Total:</p>
                <button type="button" class="btn btn-success">Enviar a Cocina</button>
            </div>
        </div>
    </div>
</div>