a{
    color: #FB727C;
    text-align: center;
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    margin:20px;
}
h1{
    color: #FB727C;
    text-align: center;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    margin:20px;
}
.nav-menu{
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    border-color: gray;
    margin:20px
}
.addOrder{
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    border-color: gray;
    margin:20px
}
span{
    font-size: 20px;
    margin-left:10px;
    margin-right:10px;
    color:blueviolet;
}