.Home{
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 94vh;
}
.section__chooseMenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 10px;
}
.section__chooseMenu>div{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__chooseMenu>div>button{
    width: 350px;
    height: 60px;
    position: absolute;
    background-color: white;
    text-align: left;
    padding: 20px;
    border: none;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.512);
    border-radius: 18px;
}
.section__chooseMenu>div>button:hover{
background: #EE5803;
cursor: pointer;
}
.section__chooseMenu>div>img{
    position: relative;
    width: 80px;
    left: 150px;
}
.section__makeOrder{
    background-image: url('../newDir/Burger.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.products{
    background-color: rgba(137, 43, 226, 0.33);
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.choos-by-type{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 128, 0, 0.321)
}
.listOfOrder{
    background-color: rgba(165, 42, 42, 0.34);
}