<div>
  <a id= "employeesView" routerLink="employees">Gestión de empleados</a>   
</div>
<button (click)="hideData()">Ocultar productos</button>
<div  id="productsView" >
<form [formGroup]="form" (submit)="addProduct()">
    <!-- <p  id="alertmessage" class="alert alert-danger"> </p><br>  -->
    <p class="addProduct">Agrega un nuevo producto al menú</p>
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" formControlName="name"> 
    <label for="type">Categoria</label>
    <input type="text" id="type" name="Tipo" formControlName="type"> 
    
    <label for="price">Precio</label>
    <input type="text" name="precio" id="price" formControlName="price"> 

    <input type="submit" value="Crear nuevo producto" class="btn btn-primary">
</form>

<div>
 
</div>
<table class="table">
   
    <thead class="thead dark">
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Tipo</th>
        <th scope="col">producto</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let productList of menu" 
        [ngClass]=  "{'active': productList?.id === selection?.id}">
        <td  >{{productList.id}}</td>
        <td >{{productList.name}}</td>
        <td >{{productList.price}}</td>
        <td >{{productList.type}}</td>
        <td><img src="{{productList.image}}" alt="producto"></td>
        <td>
        <button 
        type="button"
         class="btn btn-danger float-end"
         (click)="onProductDelete(productList?.id)"
         >Delete</button>
          <button 
          type="button" 
          class="btn btn-success float-end"
          (click)="onUpdateInfo(  productList, productList?.id)"
          >Editar
        </button>
      
      </td>
      </tr>
   
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
<router-outlet></router-outlet>
  