<h2>TRABAJADORES ECUABURGUER</h2>
<!-- 
<div>
 <a routerLink="employees">Gestión de empleados</a>   
</div>
<table class="table">
   
    <thead class="thead dark">
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
      
      </tr>
    </thead>
    <tbody >
     
        <td>{{employees.id}}</td>
        <td>{{employees.email}}</td>
        <td>{{employees.roles}}</td>

    

    </tbody>
    <tfoot>
    </tfoot>
  </table>
<router-outlet></router-outlet>
   -->
