<body>
    <div class="logoRegister">
           <img  src="./assets/img/Waiters.svg" alt="waiterRegister" class="regImg">
    </div>
    
    <div class="register">
        <!-- <form [formGroup]= "form"(submit)="onSubmitInRegister()" ><br>  -->
            <p>ECUABURGUER</p>
            <p *ngIf="messageError" class="alert alert-danger" id= "alertmessage"> Error {{messageError}} al registrarse</p>
            <!-- <p *ngIf="messageInfo"  class="alert-info"> Registro exitoso, redireccionando al login!</p> -->
         
            <label for="newItem"> Correo electrónico </label>
            <input type="text" id="newItem" class="form-control" name="email" formControlName="email"><br> 
            <!-- <div [hidden]="name.valid  || name.pristine" class="alert alert-danger">Correo inválido</div>     -->
            <label for="newItem2"> Contraseña</label>
            <input type="password" id="newItem2" class="form-control"name="password" formControlName = "password" >
            <!-- <div [hidden]="newItem.valid  || newItem.pristine" class="alert alert-danger">Contraseña inválida</div><br>   -->
            <input class="btn" type="submit" value="Ingresar">
        <!-- </form> -->
        
       <br> <a routerLink="/login">Inicia Sesión</a>
    </div> 
    </body>