.cookContainer{
  width: 90%;
  height: 100vh;
  margin: 10px auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.cookTitle{
  font-size: 20px;
  font-weight: bold;
  color: #333;

}
.cardContainer{
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}